<div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Solicitar Saque</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
    </div>
    <!-- Contact Section Form-->
    <div class="container">
        <div class="col-lg-3 col-xl-3">
            <%= form_with(model: @withdrawls, url: site_backoffice_withdrawals_amount_value_path, local: true) do |form| %>
                <div class="form-floating mb-3">
                    <%= form.label :agency_number, "Número da agencia" %>
                    <%= form.number_field :agency_number, class: "form-control" %>
                </div>
                <div class="form-floating mb-3">
                    <%= form.label :agency_number, "Número da conta" %>
                    <%= form.number_field :account_number, class: "form-control" %>
                </div>
                <br><h5 style="font-weight: bold;"><%= notice %></h5>
                <button class="btn btn-primary btn-xl" style="float: left;" data-method="post" type="submit">Enviar</button>
            <% end %>
        </div>
    </div>
</div>