
<div>
    <p>Extrato de saque</p>
    <p>Nome: <%= @full_name %></p>
    <p>Agencia: <%= @agency_number %></p>
    <p>Conta: <%= @account_number %></p>
    <p>Valor de saque: <%= @amount %></p>
    <p>Saldo atual: <%= @balance %></p>
</div>