<div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Saque</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
    </div>
    <!-- Contact Section Form-->
    <div class="container">
        <div class="col-lg-3 col-xl-3">
            <%= form_with(model: @withdraw, url: users_backoffice_withdrawals_path, local: true) do |form| %>
                <p>Balanço atual: <%= current_user.account.balance %></p>
                <div class="form-floating mb-3">
                    <%= form.label :amount, "Valor do saque" %>
                    <%= form.number_field :amount, class:"form-control" %>
                </div>
                <%= form.hidden_field :account_id, value: current_user.account.id %>
                <br>
                <button class="btn btn-primary btn-xl" style="float: left;" id="submitButton" type="submit">Enviar</button>
            <% end %>
        </div>
    </div>
</div>