<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-6">
            <%= link_to 'Realizar Deposito', new_site_backoffice_deposit_path, class: 'btn btn-primary', style:'width: 35vw; height: 100px; font-size: 2vw; font-weight: bold;' %><br/>
            <%= link_to 'Realizar Saque', new_site_backoffice_withdrawal_path, class: 'btn btn-primary', style:'width: 35vw; height: 100px; font-size: 2vw; font-weight: bold;' %><br/>
            <%= link_to 'Realizar Transferência', users_backoffice_transactions_index_path, class: 'btn btn-primary', style:'width: 35vw; height: 100px; font-size: 2vw; font-weight: bold;' %><br/>
        </div>
        <div class="col-xs-8 col-sm-6">
            <%= link_to 'Solicitar Saldo', site_backoffice_balance_index_path, class: 'btn btn-primary', style:'width: 35vw; height: 100px; font-size: 2vw; font-weight: bold;' %><br/>
            <%= link_to 'Solicitar Extrato', users_backoffice_extracts_path, class: 'btn btn-primary', style:'width: 35vw; height: 100px; font-size: 2vw; font-weight: bold;' %><br/>
        </div>
    </div>
</div>